@primary-color: #444;
@secondary-color: #ee6f1a;
@show-home-image: true;
@home-image: url('https://images.unsplash.com/photo-1509966756634-9c23dd6e6815?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=710&q=80');
@background-opacity: 0.9;

.easeOut {
  transition: all 0.7s ease-in-out;
}

.background {
  & when (@show-home-image) {
    &#bg-img {
      background: @home-image;
      background-attachment: fixed;
      background-size: cover;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba(@primary-color, @background-opacity);
      }
    }
  }
}

* {
  box-sizing: border-box;
}

body {
  .background();
  background: @primary-color;
  color: white;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

//heading

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten(@primary-color, 2), 0.5);
  }
}

a {
  color: white;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: @secondary-color;
}

main {
  padding: 4rem;
  // height: 100%;
  min-height: calc(100vh- 60px);

  .icons {
    margin-top: 1rem;
    a {
      padding: 0.4rem;
      &:hover {
        color: @secondary-color;
        .easeOut();
      }
    }
  }
  &#home {
    overflow: hidden;
    h1 {
      margin-top: 25vh;
    }
  }
}

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  .easeOut();

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: white;
    .easeOut();
  }

  &.close {
    transform: rotate(180deg);

    .btn-line {
      //line1
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      //line2
      &:nth-child(2) {
        opacity: 0;
      }
      //line3
      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  &-branding,
  &-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }
  &-nav {
    margin: 0;
    padding: 0;
    background: darken(@primary-color, 5);
    list-style: none;
    transform: translate3d(0, -100%, 0);
    .easeOut();

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  //BRANDING
  &-branding {
    background: @primary-color;
    transform: translate3d(0, 100%, 0);
    .easeOut();

    &.show {
      transform: translate3d(0, 0, 0);
    }

    .portrait {
      width: 250px;
      height: 250px;
      background: url('../dist/img/me.jpg') no-repeat;
      background-size: cover;
      border-radius: 50%;
      border: solid 3px @secondary-color;
    }
  }
  .nav-item {
    transform: translate3d(600px, 0, 0);
    .easeOut();

    &.show {
      transform: translate3d(0, 0, 0);
    }

    &.current > a {
      color: @secondary-color;
    }
  }
  .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 320;
    color: white;
    text-decoration: none;
    .easeOut();

    &:hover {
      color: @secondary-color;
    }
  }
}

//ABOUT PAGE
.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    'bioimage bio bio'
    'job1 job2 job3';
  grid-template-columns: repeat(3, 1);
  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: @secondary-color 3px solid;
  }
  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }
  .job-1 {
    grid-area: job1;
  }
  .job-2 {
    grid-area: job2;
  }
  .job-3 {
    grid-area: job3;
  }

  .job {
    background: lighten(@primary-color, 5);
    padding: 0.5rem;
    border-bottom: @secondary-color 5px solid;
  }
}

//WORK PAGE

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);

  img {
    width: 100%;
    border: 3px #fff solid;

    &:hover {
      opacity: 0.5;
      border-color: @secondary-color;
      .easeOut();
    }
  }
}

//CONTACT PAGE
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 3rem;
    border: 3px white solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    .easeOut();

    &:hover {
      padding: 0.5rem 1.5rem;
      background: @secondary-color;
      color: black;
      span {
        color: black;
      }
    }
  }
}
//button style

.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;

  &:hover {
    background: @secondary-color;
    color: @secondary-color;
  }
}

.btn-dark {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;

  &:hover {
    background: @secondary-color;
  }

  background: darken(@primary-color, 50);
  color: white;
}

.btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;

  &:hover {
    background: @secondary-color;
    color: @secondary-color;
  }
  background: lighten(@primary-color, 50);
  color: #333;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken(@primary-color, 10);
  color: white;
  height: 60px;
}

@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      width: 150px;
      height: 150px;
    }
  }
  .about-info {
    grid-template-areas:
      'bioimage'
      'bio'
      'job1'
      'job2'
      'job3';

    grid-template-columns: 1fr;
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  main#home h1 {
    margin-top: 10vh;
  }
  .projects {
    grid-template-columns: 1fr;
  }
}
